DATA CLEANING WITH PYTHON

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
DeathbyCause = pd.read_csv(r"C:\Users\EliteBook\Downloads\10Alytics_Hackathon_Case Study\Final Datasets\1. annual-number-of-deaths-by-cause.csv")

In [4]:
DeathbyCause

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,Diabetes mellitus,Chronic kidney disease,Poisonings,Protein,Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,3189.0,4490.0,512.0,2439.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,3261.0,4534.0,495.0,2231.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,2009,2460.0,1449.0,460.0,2040.0,239.0,1852.0,3874.0,5013.0,...,3336.0,4597.0,483.0,1998.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,2011,2327.0,1508.0,473.0,1846.0,390.0,1775.0,4170.0,4857.0,...,3550.0,4785.0,483.0,1805.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,2012,2254.0,1544.0,482.0,1705.0,94.0,1716.0,4245.0,4736.0,...,3682.0,4846.0,482.0,1667.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6842,Zimbabwe,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,1302.0,1355.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
6843,Zimbabwe,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,1342.0,1338.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
6844,Zimbabwe,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,1363.0,1312.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
6845,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
6846,Zimbabwe,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,1434.0,1294.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [5]:
DeathbyCause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6847 entries, 0 to 6846
Data columns (total 33 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     6847 non-null   object
 1   Year                                        6847 non-null   int64
 2   Meningitis                                  6840 non-null   float64
 3   Alzheimer's disease and other dementias     6840 non-null   float64
 4   Parkinson's disease                         6840 non-null   float64
 5   Nutritional deficiencies                    6840 non-null   float64
 6   Malaria                                     6840 non-null   float64
 7   Drowning                                    6840 non-null   float64
 8   Interpersonal violence                      6840 non-null   float64
 9   Maternal disorders                          6840 non-null   float64
 10  HIV/AIDS                                    6840 non-null   float64
 11  Drug use disorders                          6840 non-null   float64
 12  Tuberculosis                                6840 non-null   float64
 13  Cardiovascular diseases                     6840 non-null   float64
 14  Lower respiratory infections                6840 non-null   float64
 15  Neonatal disorders                          6840 non-null   float64
 16  Alcohol use disorders                       6840 non-null   float64
 17  Self                                        6840 non-null   float64
 18  Exposure to forces of nature                6840 non-null   float64
 19  Diarrheal diseases                          6840 non-null   float64
 20  Environmental heat and cold exposure        6840 non-null   float64
 21  Neoplasms                                   6840 non-null   float64
 22  Conflict and terrorism                      6840 non-null   float64
 23  Diabetes mellitus                           6840 non-null   float64
 24  Chronic kidney disease                      6840 non-null   float64
 25  Poisonings                                  6840 non-null   float64
 26  Protein                                     6840 non-null   float64
 27  Road injuries                               6840 non-null   float64
 28  Chronic respiratory diseases                6840 non-null   float64
 29  Cirrhosis and other chronic liver diseases  6840 non-null   float64
 30  Digestive diseases                          6840 non-null   float64
 31  Fire, heat, and hot substances              6840 non-null   float64
 32  Acute hepatitis                             6840 non-null   float64
dtypes: float64(31), int64(1), object(1)
memory usage: 1.7+ MB

In [6]:
DeathbyCause.isna().sum()

Country                                       0
Year                                          0
Meningitis                                    7
Alzheimer's disease and other dementias       7
Parkinson's disease                           7
Nutritional deficiencies                      7
Malaria                                       7
Drowning                                      7
Interpersonal violence                        7
Maternal disorders                            7
HIV/AIDS                                      7
Drug use disorders                            7
Tuberculosis                                  7
Cardiovascular diseases                       7
Lower respiratory infections                  7
Neonatal disorders                            7
Alcohol use disorders                         7
Self                                          7
Exposure to forces of nature                  7
Diarrheal diseases                            7
Environmental heat and cold exposure          7
Neoplasms                                     7
Conflict and terrorism                        7
Diabetes mellitus                             7
Chronic kidney disease                        7
Poisonings                                    7
Protein                                       7
Road injuries                                 7
Chronic respiratory diseases                  7
Cirrhosis and other chronic liver diseases    7
Digestive diseases                            7
Fire, heat, and hot substances                7
Acute hepatitis                               7
dtype: int64

In [7]:
DeathbyCause.dropna(axis=1, how='all', inplace=True) #dropping all null columns

In [8]:
DeathbyCause.isna().sum()

Country                                       0
Year                                          0
Meningitis                                    7
Alzheimer's disease and other dementias       7
Parkinson's disease                           7
Nutritional deficiencies                      7
Malaria                                       7
Drowning                                      7
Interpersonal violence                        7
Maternal disorders                            7
HIV/AIDS                                      7
Drug use disorders                            7
Tuberculosis                                  7
Cardiovascular diseases                       7
Lower respiratory infections                  7
Neonatal disorders                            7
Alcohol use disorders                         7
Self                                          7
Exposure to forces of nature                  7
Diarrheal diseases                            7
Environmental heat and cold exposure          7
Neoplasms                                     7
Conflict and terrorism                        7
Diabetes mellitus                             7
Chronic kidney disease                        7
Poisonings                                    7
Protein                                       7
Road injuries                                 7
Chronic respiratory diseases                  7
Cirrhosis and other chronic liver diseases    7
Digestive diseases                            7
Fire, heat, and hot substances                7
Acute hepatitis                               7
dtype: int64

In [9]:
DeathbyCause.dropna(axis=0, inplace=True)
DeathbyCause  #dropping all null values

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,Diabetes mellitus,Chronic kidney disease,Poisonings,Protein,Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,3189.0,4490.0,512.0,2439.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,3261.0,4534.0,495.0,2231.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,2009,2460.0,1449.0,460.0,2040.0,239.0,1852.0,3874.0,5013.0,...,3336.0,4597.0,483.0,1998.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,2011,2327.0,1508.0,473.0,1846.0,390.0,1775.0,4170.0,4857.0,...,3550.0,4785.0,483.0,1805.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,2012,2254.0,1544.0,482.0,1705.0,94.0,1716.0,4245.0,4736.0,...,3682.0,4846.0,482.0,1667.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6842,Zimbabwe,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,1302.0,1355.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
6843,Zimbabwe,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,1342.0,1338.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
6844,Zimbabwe,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,1363.0,1312.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
6845,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
6846,Zimbabwe,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,1434.0,1294.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [10]:
DeathbyCause.isna().sum()

Country                                       0
Year                                          0
Meningitis                                    0
Alzheimer's disease and other dementias       0
Parkinson's disease                           0
Nutritional deficiencies                      0
Malaria                                       0
Drowning                                      0
Interpersonal violence                        0
Maternal disorders                            0
HIV/AIDS                                      0
Drug use disorders                            0
Tuberculosis                                  0
Cardiovascular diseases                       0
Lower respiratory infections                  0
Neonatal disorders                            0
Alcohol use disorders                         0
Self                                          0
Exposure to forces of nature                  0
Diarrheal diseases                            0
Environmental heat and cold exposure          0
Neoplasms                                     0
Conflict and terrorism                        0
Diabetes mellitus                             0
Chronic kidney disease                        0
Poisonings                                    0
Protein                                       0
Road injuries                                 0
Chronic respiratory diseases                  0
Cirrhosis and other chronic liver diseases    0
Digestive diseases                            0
Fire, heat, and hot substances                0
Acute hepatitis                               0
dtype: int64

No Null values our first data looks clean now

In [11]:
DeathbyCause.to_excel('DeathbyCause.xlsx')

In [12]:
#Now lets read the second dataset we will name as df2;Death by Age

df2=pd.read_csv(r"C:\Users\EliteBook\Downloads\10Alytics_Hackathon_Case Study\Final Datasets\2. number-of-deaths-by-age-group.csv")

In [13]:
df2.isna().sum()

Entity                       0
Code                       690
Year                         0
Deaths 70+ years             0
Deaths 50-69 years           0
Deaths Age: 15-49 years      0
Deaths 5-14 years            0
Deaths Under 5               0
dtype: int64

In [14]:
#we will drop the code column
df2.drop(["Code"], axis=1, inplace=True)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Entity                   6840 non-null   object
 1   Year                     6840 non-null   int64
 2   Deaths 70+ years         6840 non-null   int64
 3   Deaths 50-69 years       6840 non-null   int64
 4   Deaths Age: 15-49 years  6840 non-null   int64
 5   Deaths 5-14 years        6840 non-null   int64
 6   Deaths Under 5           6840 non-null   int64
dtypes: int64(6), object(1)
memory usage: 374.2+ KB

In [25]:
df2.rename(columns={'Entity': 'Country'}, inplace=True)

In [24]:
DeathbyCause

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,Diabetes mellitus,Chronic kidney disease,Poisonings,Protein,Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,3189.0,4490.0,512.0,2439.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,3261.0,4534.0,495.0,2231.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,2009,2460.0,1449.0,460.0,2040.0,239.0,1852.0,3874.0,5013.0,...,3336.0,4597.0,483.0,1998.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,2011,2327.0,1508.0,473.0,1846.0,390.0,1775.0,4170.0,4857.0,...,3550.0,4785.0,483.0,1805.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,2012,2254.0,1544.0,482.0,1705.0,94.0,1716.0,4245.0,4736.0,...,3682.0,4846.0,482.0,1667.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6842,Zimbabwe,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,1302.0,1355.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
6843,Zimbabwe,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,1342.0,1338.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
6844,Zimbabwe,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,1363.0,1312.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
6845,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
6846,Zimbabwe,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,1434.0,1294.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

Good to note that both datasets now have the same number of rows, now we will carry out a left merge the datasets using the entity and year as the primary key

In [26]:
Merge1= pd.merge(DeathbyCause, df2, on=["Country", "Year"])
Merge1

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,7222.0,3346.0,6458.0,481.0,3437.0,42753,40683,48597,11495,99517
1,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,7143.0,3316.0,6408.0,462.0,3005.0,42912,39689,49779,11333,96139
2,Afghanistan,2009,2460.0,1449.0,460.0,2040.0,239.0,1852.0,3874.0,5013.0,...,7045.0,3291.0,6358.0,448.0,2663.0,42947,38612,50855,10865,92757
3,Afghanistan,2011,2327.0,1508.0,473.0,1846.0,390.0,1775.0,4170.0,4857.0,...,6916.0,3318.0,6370.0,448.0,2365.0,43423,37119,54766,10627,88480
4,Afghanistan,2012,2254.0,1544.0,482.0,1705.0,94.0,1716.0,4245.0,4736.0,...,6878.0,3353.0,6398.0,445.0,2264.0,43687,37144,57278,10771,87072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,1302.0,1355.0,...,2751.0,1956.0,4202.0,632.0,146.0,25573,32963,43441,4506,26551
6836,Zimbabwe,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,1342.0,1338.0,...,2788.0,1962.0,4264.0,648.0,146.0,25804,33138,42011,4592,25499
6837,Zimbabwe,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,1363.0,1312.0,...,2818.0,2007.0,4342.0,654.0,144.0,26030,33282,40417,4737,24766
6838,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,2849.0,2030.0,4377.0,657.0,139.0,26279,33316,38536,4430,23905
6839,Zimbabwe,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,1434.0,1294.0,...,2891.0,2065.0,4437.0,662.0,136.0,26666,33816,38193,4282,23566

In [29]:
#now let's read the third dataset Medical doctors Per10000 population as df4
df4 = pd.read_excel(r"C:\Users\EliteBook\Downloads\10Alytics_Hackathon_Case Study\Final Datasets\3. Medical Doctors Per 10000 population.xlsx")
df4

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value
0,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2018,2.14,2.14
1,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2017,2.15,2.15
2,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2009,1.31,1.31
3,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2004,0.62,0.62
4,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,1997,0.59,0.59
...,...,...,...,...,...,...,...,...,...
11503,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2010,64.00,64.00
11504,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2008,85.00,85.00
11505,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2005,50.00,50.00
11506,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2003,50.00,50.00
11507,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,1999,120.00,120.00

In [30]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IndicatorCode       11508 non-null  object
 1   Indicator           11508 non-null  object
 2   ParentLocationCode  11508 non-null  object
 3   ParentLocation      11508 non-null  object
 4   ThreeLocCode        11508 non-null  object
 5   Location            11508 non-null  object
 6   Period              11508 non-null  int64
 7   FactValueNumeric    11508 non-null  float64
 8   Value               7020 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 809.3+ KB

In [31]:
df4.rename(columns={'Location': 'Country', 'Period': 'Year'}, inplace=True) #renamed columns for ease of joining and consistency
df4

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Country,Year,FactValueNumeric,Value
0,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2018,2.14,2.14
1,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2017,2.15,2.15
2,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2009,1.31,1.31
3,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2004,0.62,0.62
4,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,1997,0.59,0.59
...,...,...,...,...,...,...,...,...,...
11503,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2010,64.00,64.00
11504,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2008,85.00,85.00
11505,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2005,50.00,50.00
11506,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,2003,50.00,50.00
11507,HWF_0005,Medical doctors not further defined (number),WPR,Western Pacific,WSM,Samoa,1999,120.00,120.00

In [32]:
df4.drop("Value", axis=1, inplace=True) #Blank cells is as a result of transformation, however the factvalue numeric and value are the same so i will drop it

In [34]:
df5= pd.merge(Merge1, df4, on=["Country", "Year"]) #all 3 dataset merged
df5

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,FactValueNumeric
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,40683,48597,11495,99517,HWF_0001,"Medical doctors (per 10,000)",EMR,Eastern Mediterranean,AFG,1.74
1,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,40683,48597,11495,99517,HWF_0002,Medical doctors (number),EMR,Eastern Mediterranean,AFG,4723.00
2,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,40683,48597,11495,99517,HWF_0005,Medical doctors not further defined (number),EMR,Eastern Mediterranean,AFG,4723.00
3,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,39689,49779,11333,96139,HWF_0001,"Medical doctors (per 10,000)",EMR,Eastern Mediterranean,AFG,1.74
4,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,39689,49779,11333,96139,HWF_0002,Medical doctors (number),EMR,Eastern Mediterranean,AFG,4834.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8873,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,33316,38536,4430,23905,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,ZWE,2.10
8874,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,33316,38536,4430,23905,HWF_0002,Medical doctors (number),AFR,Africa,ZWE,3026.00
8875,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,33316,38536,4430,23905,HWF_0003,Generalist medical practitioners (number),AFR,Africa,ZWE,1863.00
8876,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,33316,38536,4430,23905,HWF_0004,Specialist medical practitioners (number),AFR,Africa,ZWE,619.00
8877,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,33316,38536,4430,23905,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZWE,544.00

In [35]:
df6= pd.read_excel(r"C:\Users\EliteBook\Downloads\10Alytics_Hackathon_Case Study\Final Datasets\6. Current health expenditure (% of GDP).xlsx")

In [36]:
df6.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Current health expenditure (% of GDP),6.252428,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
2,Afghanistan,AFG,Current health expenditure (% of GDP),NaN,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
3,Africa Western and Central,AFW,Current health expenditure (% of GDP),3.771302,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
4,Angola,AGO,Current health expenditure (% of GDP),1.908599,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN

In [37]:
df6.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
2000               34
2001               34
2002               33
2003               31
2004               31
2005               31
2006               31
2007               31
2008               31
2009               31
2010               30
2011               29
2012               30
2013               31
2014               31
2015               31
2016               32
2017               31
2018               31
2019               32
2020              266
2021              266
dtype: int64

In [38]:
df6.rename(columns={'Country Name': 'Country'}, inplace=True) #renamed columns for ease of joining and consistency
df6

,Country,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Current health expenditure (% of GDP),6.252428,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
2,Afghanistan,AFG,Current health expenditure (% of GDP),NaN,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
3,Africa Western and Central,AFW,Current health expenditure (% of GDP),3.771302,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
4,Angola,AGO,Current health expenditure (% of GDP),1.908599,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Current health expenditure (% of GDP),4.666065,4.945151,4.832372,5.757578,5.514405,5.205854,5.529299,...,5.195936,4.960832,4.841805,4.252858,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Current health expenditure (% of GDP),8.164721,7.939017,7.464463,7.915304,7.764534,7.689974,7.692216,...,8.773108,8.855524,8.550915,8.790190,8.821429,8.722624,8.858297,9.109355,NaN,NaN
264,Zambia,ZMB,Current health expenditure (% of GDP),7.152371,6.552485,6.794035,7.189994,7.049950,6.863322,5.873673,...,3.930529,4.690910,3.829242,4.435102,4.477207,4.376977,5.032715,5.312203,NaN,NaN
265,Zimbabwe,ZWE,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [39]:
df7= pd.merge(df5, df6, on=["Country"])

In [40]:
df7

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
1,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
2,Afghanistan,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
3,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
4,Afghanistan,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8523,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
8524,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
8525,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
8526,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
8527,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

__df7: Is our dataset that contains 4 sets and i will be using this for the Exploratory data Analysis, while the word population dataset will be explored later on__

<font size=4>__Exploratory Data Analysis__

In [42]:
#Create a filter to only africa Countries
Africa = (df7["ParentLocation"] == 'Africa')
AfricaSet = df7[Africa].reset_index()

In [48]:
AfricaSet

,Country,Year,Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,Interpersonal violence,Maternal disorders,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,2002,556.0,2411.0,641.0,253.0,0.0,873.0,628.0,982.0,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371,NaN,NaN
1,Algeria,2002,556.0,2411.0,641.0,253.0,0.0,873.0,628.0,982.0,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371,NaN,NaN
2,Algeria,2002,556.0,2411.0,641.0,253.0,0.0,873.0,628.0,982.0,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371,NaN,NaN
3,Algeria,2005,517.0,2732.0,714.0,183.0,0.0,748.0,567.0,876.0,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371,NaN,NaN
4,Algeria,2005,517.0,2732.0,714.0,183.0,0.0,748.0,567.0,876.0,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
1161,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
1162,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
1163,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN
1164,Zimbabwe,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,...,6.918354,7.110148,8.133525,7.452066,7.675163,7.469752,8.680062,7.703565,NaN,NaN

In [135]:
#df7[Africa].to_excel('df.xlsx') #importing to excel

Data Visualization on powerbi is available on https://medium.com/@temenuoluwabusola/data-analysis-with-python-and-power-bi-27466f41fc0b